ADFDataFactoryOL/PartialArmTemplates/ArmTemplate_4_24_2020_17_37_32.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFDataFactoryOL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromBlobToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "InputDataset",
								"type": "DatasetReference",
								"parameters": {
									"pFileName": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "OutputDataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"pFileName": {
						"type": "string",
						"defaultValue": "emp.txt"
					}
				},
				"folder": {
					"name": "Copia_Blob"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PLM_OLTP_Secuencia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Carga a Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_OLTP_Srce_to_Stg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "Carga a Destino",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Carga a Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_OLTP_Load_Masters",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"folder": {
					"name": "OLTP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_OLTP_Srce_to_Stg')]",
				"[concat(variables('factoryId'), '/pipelines/PL_OLTP_Load_Masters')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copiar_si_no_existe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MET_File_Exists",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_FileTarget",
								"type": "DatasetReference",
								"parameters": {
									"pFileName": {
										"value": "@pipeline().parameters.pFileName",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "MET_File_Exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('MET_File_Exists').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "CD_Copy_File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "InputDataset",
											"type": "DatasetReference",
											"parameters": {
												"pFileName": {
													"value": "@pipeline().parameters.pFileName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "OutputDataset",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"pFileName": {
						"type": "string",
						"defaultValue": "sales.txt"
					}
				},
				"folder": {
					"name": "Copia_Blob"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Incremental_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_New_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max([insertdatetime]) newwatermarkvalue from [dbo].[orders_srce]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Srce_Order",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "LKP_Act_Watermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select [watermarkvalue] oldwatermarkvalue from [dbo].[watermarktable] where [tablename] = 'orders'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "Dst_Watermark",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "CP_Incremental_SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "LKP_New_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LKP_Act_Watermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * \nfrom [dbo].[orders_srce]\nwhere [insertdatetime] > '@{activity('LKP_Act_Watermark').output.firstRow.oldwatermarkvalue}'\nand [insertdatetime] <= '@{activity('LKP_New_Watermark').output.firstRow.newwatermarkvalue}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Srce_Order",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Dst_Order",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "SP_Update_Watermarkvalue",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CP_Incremental_SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[spSetWatermark]",
							"storedProcedureParameters": {
								"NewTime": {
									"value": {
										"value": "@activity('LKP_New_Watermark').output.firstRow.newwatermarkvalue",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": "orders",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlDatabase1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Incremental_SQL"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_OLTP_Load_Masters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sp_loadcustomer]",
								"sqlWriterTableType": "type_stg_customer",
								"storedProcedureTableTypeParameterName": "source"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "stg_Customer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dst_Customer",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Employee",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sp_loademployee]",
								"sqlWriterTableType": "type_stg_employee",
								"storedProcedureTableTypeParameterName": "source"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "stg_Employee",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dst_Employee",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Product",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sp_loadproduct]",
								"sqlWriterTableType": "type_stg_product",
								"storedProcedureTableTypeParameterName": "source"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "stg_Product",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dst_Product",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Purchase Order",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Employee",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[sp_loadpurchaseorder]",
								"sqlWriterTableType": "type_stg_purchaseorder",
								"storedProcedureTableTypeParameterName": "source"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "stg_PurchaseOrder",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dst_PurchaseOrder",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OLTP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/stg_Customer')]",
				"[concat(variables('factoryId'), '/datasets/dst_Customer')]",
				"[concat(variables('factoryId'), '/datasets/stg_Employee')]",
				"[concat(variables('factoryId'), '/datasets/dst_Employee')]",
				"[concat(variables('factoryId'), '/datasets/stg_Product')]",
				"[concat(variables('factoryId'), '/datasets/dst_Product')]",
				"[concat(variables('factoryId'), '/datasets/stg_PurchaseOrder')]",
				"[concat(variables('factoryId'), '/datasets/dst_PurchaseOrder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_OLTP_Srce_to_Stg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CP_Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.stg_customer",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CustomerCode",
											"type": "String"
										},
										"sink": {
											"name": "customercode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String"
										},
										"sink": {
											"name": "customername",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "phonenumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "srce_Customer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "stg_Customer",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CP_Employee",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.stg_employee",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EmployeeCode",
											"type": "String"
										},
										"sink": {
											"name": "employeecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmployeeName",
											"type": "String"
										},
										"sink": {
											"name": "employeename",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String"
										},
										"sink": {
											"name": "address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "phonenumber",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "srce_Employee",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "stg_Employee",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CP_PurchaseOrder",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.stg_purchaseorder",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PurcharseOrderID",
											"type": "String"
										},
										"sink": {
											"name": "purchaseorderid",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CustomerCode",
											"type": "String"
										},
										"sink": {
											"name": "customercode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductCode",
											"type": "String"
										},
										"sink": {
											"name": "productcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmployeeCode",
											"type": "String"
										},
										"sink": {
											"name": "employeecode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PurchaseOrderDate",
											"type": "String"
										},
										"sink": {
											"name": "purchaseorderdate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "String"
										},
										"sink": {
											"name": "quantity",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "String"
										},
										"sink": {
											"name": "unitprice",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "srce_PurchaseOrder",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "stg_PurchaseOrder",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "CP_Product",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from dbo.stg_product",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ProductCode",
											"type": "String"
										},
										"sink": {
											"name": "productcode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String"
										},
										"sink": {
											"name": "productname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductGroup",
											"type": "String"
										},
										"sink": {
											"name": "productgroup",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "srce_Product",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "stg_Product",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "OLTP"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srce_Customer')]",
				"[concat(variables('factoryId'), '/datasets/stg_Customer')]",
				"[concat(variables('factoryId'), '/datasets/srce_Employee')]",
				"[concat(variables('factoryId'), '/datasets/stg_Employee')]",
				"[concat(variables('factoryId'), '/datasets/srce_PurchaseOrder')]",
				"[concat(variables('factoryId'), '/datasets/stg_PurchaseOrder')]",
				"[concat(variables('factoryId'), '/datasets/srce_Product')]",
				"[concat(variables('factoryId'), '/datasets/stg_Product')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customerkey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customercode",
						"type": "varchar"
					},
					{
						"name": "customername",
						"type": "varchar"
					},
					{
						"name": "address",
						"type": "varchar"
					},
					{
						"name": "phonenumber",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "customer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_Employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "employeekey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "employeecode",
						"type": "varchar"
					},
					{
						"name": "employeename",
						"type": "varchar"
					},
					{
						"name": "address",
						"type": "varchar"
					},
					{
						"name": "phonenumber",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "employee"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "productkey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productcode",
						"type": "varchar"
					},
					{
						"name": "productname",
						"type": "varchar"
					},
					{
						"name": "productgroup",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "product"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_PurchaseOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "purchaseorderid",
						"type": "varchar"
					},
					{
						"name": "customerkey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "productkey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "employeekey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "purchaseorderdatekey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "quantity",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "unitprice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "purchaseorder"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srce_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Customer.txt",
						"folderPath": "Input/Sales",
						"container": "adftutorial"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CustomerCode",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "Address",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srce_Employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Employee.txt",
						"folderPath": "Input/Sales",
						"container": "adftutorial"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "EmployeeCode",
						"type": "String"
					},
					{
						"name": " EmployeeName",
						"type": "String"
					},
					{
						"name": " Address",
						"type": "String"
					},
					{
						"name": " PhoneNumber",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srce_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Product.txt",
						"folderPath": "Input/Sales",
						"container": "adftutorial"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductGroup",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srce_PurchaseOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "PurchaseOrder.txt",
						"folderPath": "Input/Sales",
						"container": "adftutorial"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PurcharseOrderID",
						"type": "String"
					},
					{
						"name": "CustomerCode",
						"type": "String"
					},
					{
						"name": "ProductCode",
						"type": "String"
					},
					{
						"name": "EmployeeCode",
						"type": "String"
					},
					{
						"name": "PurchaseOrderDate",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customercode",
						"type": "varchar"
					},
					{
						"name": "customername",
						"type": "varchar"
					},
					{
						"name": "address",
						"type": "varchar"
					},
					{
						"name": "phonenumber",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_customer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_Employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "employeecode",
						"type": "varchar"
					},
					{
						"name": "employeename",
						"type": "varchar"
					},
					{
						"name": "address",
						"type": "varchar"
					},
					{
						"name": "phonenumber",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_employee"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "productcode",
						"type": "varchar"
					},
					{
						"name": "productname",
						"type": "varchar"
					},
					{
						"name": "productgroup",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_product"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/stg_PurchaseOrder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OLTP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "purchaseorderid",
						"type": "varchar"
					},
					{
						"name": "customercode",
						"type": "varchar"
					},
					{
						"name": "productcode",
						"type": "varchar"
					},
					{
						"name": "employeecode",
						"type": "varchar"
					},
					{
						"name": "purchaseorderdate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "quantity",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "unitprice",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stg_purchaseorder"
				}
			},
			"dependsOn": []
		}
	]
}